@charset "UTF-8";
.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em; }

.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block; }

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-selectbox {
  z-index: 10; }

.jq-selectbox__select {
  position: relative; }

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.jq-selectbox__dropdown {
  position: absolute; }

.jq-selectbox__search input {
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch; }

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.jq-number {
  display: inline-block; }

.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */ }

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li, body {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  src: url("../fonts/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/Oswald/Oswald-Medium.ttf"); }

@font-face {
  font-family: "Oswald";
  font-weight: 300;
  src: url("../fonts/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf"); }

@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  src: url("../fonts/Quicksand/Quicksand-Medium.ttf"); }

html {
  font-size: 10px; }

body {
  font-family: "Oswald", sans-serif; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px; }

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 24px;
    padding-right: 24px; } }

.header {
  height: 120px;
  padding: 10px 0 20px; }

@media only screen and (max-width: 1200px) {
  .header {
    padding: 15px 0 20px; } }

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__logo {
  margin-right: 60px;
  margin-bottom: 5px;
  display: block; }

@media only screen and (max-width: 1200px) {
  .header__logo img {
    width: 100%; } }

.header__menu {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.header__request {
  width: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media only screen and (max-width: 1200px) {
  .header__request {
    width: 130px;
    margin-left: 20px; } }

.header__language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  color: #738FA6;
  font-family: "Oswald", sans-serif;
  border: 1px solid #B8C6D1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  position: relative;
  height: 36px;
  width: 80px;
  background-color: #fff;
  cursor: pointer; }

.header__language-selected {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__language img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 12px; }

.header__language-list {
  position: absolute;
  font-size: 16px;
  text-transform: uppercase;
  color: #738FA6;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: none;
  top: 35px;
  left: -1px; }

.header__language-li {
  border: 1px solid #B8C6D1;
  background-color: #fff;
  border-bottom: none;
  height: 36px;
  width: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer; }

.header__language-li:hover {
  background-color: #F5F7F8; }

.header__language-li:first-child {
  border-top: none; }

.header__language-li:last-child {
  border-bottom: 1px solid #B8C6D1; }

.header__language-circle {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  background-color: lightgreen;
  margin-right: 5px; }

.header__request-reference {
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  background-color: #FA4128;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.header__request-reference::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 6px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.header__request-reference:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px); }

.header__request-reference:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px); }

.header__request-reference:active {
  opacity: 0.7; }

@media only screen and (max-width: 1200px) {
  .header__request-reference {
    padding: 5px; } }

.menu {
  padding: 0 10px; }

.menu__list {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__reference {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #203D51;
  padding: 5px 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.menu__reference::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 6px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.menu__reference:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px); }

.menu__reference:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px); }

.menu__reference:active {
  opacity: 0.7; }

.menu__reference:active:after {
  opacity: 0.7; }

@media only screen and (max-width: 1200px) {
  .menu__reference {
    padding: 5px; } }

.preview {
  background: url("../img/backgrounds/index-banner.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 500px; }

.preview__container {
  height: 100%;
  padding-top: 60px; }

.preview__text {
  font: 500 3rem/1.7 "Oswald", sans-serif;
  text-transform: uppercase;
  color: #718EA5;
  margin: 1rem 0; }

.preview__title {
  font: 500 9rem/1 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: #0C3145; }

.preview__title-bracket {
  font-size: 10rem;
  position: relative;
  top: -0.6rem; }

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(54%, #fff), color-stop(54%, #EFF2F4));
  background-image: -webkit-linear-gradient(top, #fff 54%, #EFF2F4 54%);
  background-image: -o-linear-gradient(top, #fff 54%, #EFF2F4 54%);
  background-image: linear-gradient(to bottom, #fff 54%, #EFF2F4 54%); }

.about__container {
  height: 100%;
  padding-top: 20px; }

.about__info {
  position: relative;
  padding: 25px 0 180px;
  color: #203D51;
  background: url("../img/backgrounds/bg-map-1.png") no-repeat 3% 100%, url("../img/backgrounds/bg-map-2.png") no-repeat 95% 20%;
  z-index: 2; }

@media only screen and (max-width: 1200px) {
  .about__info {
    background: url("../img/backgrounds/bg-map-1.png") no-repeat 0 100%, url("../img/backgrounds/bg-map-2.png") no-repeat 100% 20%;
    padding-bottom: 100px; } }

.about__info-title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center; }

.about__list {
  margin-top: 50px; }

.about__li {
  text-align: center; }

.about__li-figure {
  font: 500 7rem/1 "Oswald", sans-serif;
  margin: 1rem 0; }

.about__li-note {
  font: 500 2rem/1.4 "Quicksand", sans-serif;
  margin: 0; }

.about__partners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -140px; }

@media only screen and (max-width: 1200px) {
  .about__partners {
    margin-top: -80px; } }

.about__partners-item {
  background-color: #0C3145;
  padding: 35px 30px 50px;
  color: #fff; }

@media only screen and (max-width: 1200px) {
  .about__partners-item {
    width: 40%;
    padding: 2% 3% 1%; } }

.about__partners-photo {
  font-size: 0; }

@media only screen and (max-width: 1200px) {
  .about__partners-photo {
    width: 30%; }
  .about__partners-photo img {
    width: 100%; } }

.about__partners-title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.about__partners-title-underline {
  border: none;
  background-color: #FA4128;
  height: 4px;
  width: 29%;
  margin: 5px 0 0; }

.about__partners-text {
  font: normal 1.7rem/1.5 "Quicksand", sans-serif;
  margin: 3rem 0; }

.about__quotation {
  padding: 60px 0 40px;
  text-align: center; }

.about__quotation-container {
  margin-bottom: 35px; }

.about__quotation-text {
  font: italic normal 2.6rem/1.5 "Quicksand", sans-serif;
  text-align: center;
  color: #2B9AA3;
  margin: 0; }

.about__quotation-quote {
  text-align: center;
  font: italic normal 6rem/1px "Quicksand", sans-serif;
  color: #2B9AA3; }

.about__quotation-quote:last-child {
  text-align: left; }

.about__quotation-name, .about__quotation-post, .about__quotation-place {
  font: 500 1.6rem/1.5 "Quicksand", sans-serif;
  margin: 0.2rem 0;
  color: #010D26; }

.locations__container {
  padding-top: 70px;
  padding-bottom: 70px; }

.locations__info {
  color: #203D51; }

.locations__title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.locations__underline {
  border: none;
  background-color: #FA4128;
  height: 4px;
  width: 23%;
  margin: 8px 0 0; }

.locations__text {
  font: normal 1.7rem/1.45 "Quicksand", sans-serif;
  margin: 2rem 0 3rem; }

.locations__btn {
  padding-top: 2px;
  width: 200px;
  height: 40px;
  border: 1px solid #FA4128;
  color: #FA4128;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 500 1.4rem/1.5 "Quicksand", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative; }

.locations__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FA4128;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.locations__btn:hover {
  color: #fff; }

.locations__btn:hover:after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

.locations__btn:active {
  opacity: 0.7; }

.excellence {
  background-color: #EFF2F4; }

.excellence__container {
  padding-top: 70px;
  padding-bottom: 70px; }

.excellence__info {
  color: #203D51;
  padding-left: 40px; }

.excellence__title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.excellence__underline {
  border: none;
  background-color: #FA4128;
  height: 4px;
  width: 20%;
  margin: 5px 0 0; }

.excellence__text {
  font: normal 1.7rem/1.45 "Quicksand", sans-serif;
  margin: 2.7rem 0; }

.excellence__list {
  font: normal 1.7rem/1.45 "Quicksand", sans-serif; }

.excellence__list-title {
  font: 500 1.7rem/1 "Quicksand", sans-serif;
  margin: 0; }

.excellence__li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 1rem -0.5rem; }

.excellence__li::before {
  content: '\25ba';
  display: inline-block;
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
  color: #FA4128;
  font-size: 1.5rem;
  position: relative;
  margin-right: 0.5rem; }

.clients__container {
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 1380px; }

.clients__title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #203D51; }

.clients__underline {
  border: none;
  background-color: #FA4128;
  height: 4px;
  width: 8%;
  margin: 8px auto 20px; }

.clients__item {
  text-align: center;
  margin: 35px 5px 0; }

@media only screen and (max-width: 1200px) {
  .clients__item img {
    width: 100%; } }

.news {
  background-color: #072433; }

.news__container {
  padding-top: 50px;
  padding-bottom: 50px; }

.news__title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #fff; }

.news__underline {
  border: none;
  background-color: #FA4128;
  height: 4px;
  width: 9%;
  margin: 8px auto 40px; }

.news__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  border: 1px solid #fff;
  font: normal 1.4rem/1.4 "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative; }

.news__all::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.news__all:hover {
  color: #072433; }

.news__all:hover span {
  z-index: 1; }

.news__all:hover:after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

.news__all:active {
  opacity: 0.7; }

.news-item__img {
  font-size: 0; }

.news-item__img img {
  width: 100%; }

.news-item__body {
  background-color: #fff;
  height: 180px;
  padding: 15px;
  position: relative; }

@media only screen and (max-width: 1200px) {
  .news-item__body {
    height: 200px; } }

.news-item__category {
  font: normal 1.5rem/1 "Oswald", sans-serif;
  margin: 0;
  text-transform: uppercase; }

.news-item__category_news {
  color: #FA4128; }

.news-item__category_press-release {
  color: #203D51; }

.news-item__date {
  color: #718EA5;
  font: 500 1.4rem/1.4 "Quicksand", sans-serif;
  margin: 0.8rem 0; }

.news-item__text {
  font: normal 1.7rem/1.4 "Quicksand", sans-serif;
  color: #203D51;
  margin: 0.9rem 0; }

.news-item__more {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #456A89;
  font: 500 1.4rem/1.4 "Quicksand", sans-serif;
  text-transform: uppercase; }

.news-item__more::after {
  content: '\25ba';
  display: inline-block;
  -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
          transform: scaleX(0.7);
  color: #456A89;
  font-size: 1.2rem;
  position: relative;
  margin-left: 0.8rem;
  top: -2px;
  -webkit-transition: 0.08s;
  -o-transition: 0.08s;
  transition: 0.08s; }

.news-item__more:hover:after {
  margin-left: 1.3rem; }

.news-item__more:active {
  opacity: 0.7; }

.contacts__container {
  width: 960px;
  padding-top: 70px;
  padding-bottom: 70px; }

.contacts__title {
  font: normal 3rem/1.4 "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #203D51; }

.contacts__underline {
  border: none;
  background-color: #FA4128;
  height: 4px;
  width: 9%;
  margin: 8px auto 20px; }

.contacts__explanation {
  font: 500 2rem/1.4 "Quicksand", sans-serif;
  color: #203D51;
  text-align: center;
  margin: 2.5rem 0 3rem; }

.form__item {
  height: 72px;
  margin-bottom: 20px; }

.form__item:nth-child(1), .form__item:nth-child(2) {
  min-width: 25%; }

.form__text, .form__select, .form__message {
  background-color: #F5F7F8;
  border: 1px solid #A9A9A9;
  height: 100%;
  width: 100%;
  font: 500 1.7rem/1.4 "Quicksand", sans-serif;
  color: #203D51;
  padding: 15px; }

.form__text::-webkit-input-placeholder, .form__select::-webkit-input-placeholder, .form__message::-webkit-input-placeholder {
  color: #7F99AE;
  opacity: 1; }

.form__text::-moz-placeholder, .form__select::-moz-placeholder, .form__message::-moz-placeholder {
  color: #7F99AE;
  opacity: 1; }

.form__text:-ms-input-placeholder, .form__select:-ms-input-placeholder, .form__message:-ms-input-placeholder {
  color: #7F99AE;
  opacity: 1; }

.form__text::-ms-input-placeholder, .form__select::-ms-input-placeholder, .form__message::-ms-input-placeholder {
  color: #7F99AE;
  opacity: 1; }

.form__text::placeholder, .form__select::placeholder, .form__message::placeholder {
  color: #7F99AE;
  opacity: 1; }

.form__text:focus, .form__select:focus, .form__message:focus {
  border-left: 2px solid #FA4128;
  padding-left: 14px; }

.form__message {
  resize: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.3rem;
  overflow: hidden; }

.form__submit {
  display: block;
  margin: 15px auto 0;
  width: 160px;
  height: 72px;
  font: 500 1.7rem/1.4 "Quicksand", sans-serif;
  text-transform: uppercase;
  background-color: #FA4128;
  color: #fff;
  padding-top: 2px;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative; }

.form__submit::before {
  content: '';
  position: absolute;
  border: white solid 3px;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.form__submit:hover:before {
  opacity: 1; }

.form__submit:active {
  opacity: 0.7; }

.jqselect {
  color: #7F99AE;
  padding: 0;
  font: 500 1.7rem/2 "Quicksand", sans-serif;
  cursor: pointer; }

.jqselect select {
  height: 0;
  padding: 0;
  border: 0; }

.jqselect ul {
  padding: 0;
  width: 120%; }

.jqselect ul li:hover {
  color: #203D51; }

.jqselect .jq-selectbox__select {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px; }

.jqselect .jq-selectbox__dropdown {
  top: 12px;
  background-color: #F5F7F8;
  width: -webkit-calc(100% + 3px);
  width: calc(100% + 3px);
  padding: 5px 15px 5px;
  border: 1px solid #A9A9A9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(127, 153, 174, 0.5);
          box-shadow: 0 2px 5px 0 rgba(127, 153, 174, 0.5); }

.jqselect .jq-selectbox__dropdown::after {
  display: block;
  position: relative;
  content: '';
  margin: 5px auto;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/arrow-down.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.jqselect .jq-selectbox__dropdown.down::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.jqselect .jq-selectbox__trigger {
  position: absolute;
  right: 30px;
  z-index: 10; }

.jqselect .jq-selectbox__trigger-arrow {
  height: 12px;
  width: 12px;
  background-image: url("../img/icons/down-arrow.svg"); }

.jqselect.opened {
  border-left: 2px solid #FA4128;
  padding-left: 14px; }

.jqselect.opened .jq-selectbox__dropdown {
  margin-left: -16px;
  overflow: hidden; }

.jqselect.changed .jq-selectbox__select-text {
  color: #203D51; }

.footer {
  background-color: #EFF2F4; }

.footer__container {
  padding-top: 50px;
  padding-bottom: 25px; }

.footer__logo {
  margin-bottom: 25px;
  display: block; }

.footer__logo img {
  width: 100%; }

.footer__request, .footer__contact {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.footer__request::before, .footer__contact::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 6px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.footer__request:hover, .footer__contact:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px); }

.footer__request:hover:before, .footer__contact:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px); }

.footer__request:active, .footer__contact:active {
  opacity: 0.7; }

.footer__request {
  font: 500 1.5rem/1.4 "Quicksand", sans-serif;
  background-color: #FA4128;
  margin-bottom: 15px; }

.footer__request br {
  display: none; }

@media only screen and (max-width: 1160px) {
  .footer__request br {
    display: block; } }

.footer__contact {
  font: normal 1.5rem/1.4 "Oswald", sans-serif;
  background-color: #0C3145; }

.footer__separator {
  margin: 0;
  background-color: #B8C6D1;
  border: none;
  height: 2px; }

.footer__copyright {
  padding-top: 15px;
  padding-bottom: 20px; }

.footer__copyright-text {
  font: normal 1.4rem/1.4 "Oswald", sans-serif;
  color: #203D51;
  margin: 0; }

.submenu__overline {
  background-color: #B8C6D1;
  border: none;
  height: 2px;
  margin: 0; }

.submenu__reference-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.submenu__title {
  font: normal 1.6rem/1.4 "Oswald", sans-serif;
  color: #FA4128;
  text-transform: uppercase;
  margin-bottom: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.submenu__title::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 6px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.submenu__title:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px); }

.submenu__title:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px); }

.submenu__title:active {
  opacity: 0.7; }

.submenu__reference {
  font: 500 1.5rem/1.3 "Quicksand", sans-serif;
  color: #203D51;
  margin-bottom: 10px; }

.submenu__reference::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #203D51;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 0;
  position: relative;
  top: 2px; }

.submenu__reference:hover:after {
  width: 100%; }

.submenu__reference:active {
  opacity: 0.7; }

.submenu__reference:active:after {
  opacity: 0.7; }
