.contacts {

  &__container {
    width: 960px;
    padding: {
      top: 70px;
      bottom: 70px;
    }
  }

  &__title {
    font: normal 3rem/1.4 "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    color: #203D51;
  }

  &__underline {
    border: none;
    background-color: #FA4128;
    height: 4px;
    width: 9%;
    margin: 8px auto 20px;
  }

  &__explanation {
    font: 500 2rem/1.4 "Quicksand", sans-serif;
    color: #203D51;
    text-align: center;
    margin: 2.5rem 0 3rem;
  }
}

.form {
  &__item {
    height: 72px;
    margin-bottom: 20px;
    &:nth-child(1), &:nth-child(2) {
      min-width: 25%;
    }
  }

  &__text, &__select, &__message {
    background-color: #F5F7F8;
    border: 1px solid #A9A9A9;
    height: 100%;
    width: 100%;
    font: 500 1.7rem/1.4 "Quicksand", sans-serif;
    border-left: 2px solid #FA4128;
    color: #203D51;
    padding: 15px;

    &::placeholder {
      color: #7F99AE;
      opacity: 1;
    }
  }


  &__company-name, &__message {
    border-left: 1px solid #A9A9A9;
  }

  &__select {
    appearance: none;

    &-item {
      display: block;
      padding: 20px;
    }
  }

  &__message {
    resize: none;
    display: flex;
    padding-top: 2.3rem;
    overflow: hidden;
  }

  &__submit {
    display: block;
    margin: 15px auto 0;
    width: 160px;
    height: 72px;
    font: 500 1.7rem/1.4 "Quicksand", sans-serif;
    text-transform: uppercase;
    background-color: #FA4128;
    color: #fff;
    padding-top: 2px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      border: white solid 3px;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      opacity: 0;
      transition-duration: 0.3s;
      transition-property: opacity;
    }

    &:hover:before {
      opacity: 1;
    }

    &:active {
      opacity: 0.7;
    }
  }
}