.excellence {
  background-color: #EFF2F4;

  &__container {
    padding: {
      top: 70px;
      bottom: 70px;
    }
  }

  &__info {
    color: #203D51;
    padding-left: 40px;
  }

  &__title {
    font: normal 3rem/1.4 "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 0;
  }

  &__underline {
    border: none;
    background-color: #FA4128;
    height: 4px;
    width: 20%;
    margin: 5px 0 0;
  }

  &__text {
    font: normal 1.7rem/1.45 "Quicksand", sans-serif;
    margin: 2.7rem 0;
  }

  &__list {
    font: normal 1.7rem/1.45 "Quicksand", sans-serif;
  }

  &__list-title {
    font: 500 1.7rem/1 "Quicksand", sans-serif;
    margin: 0;
  }

  &__li {
    margin: 1rem 0 1rem -0.5rem;
    &::before {
      content: '\25ba';
      display: inline-block;
      transform: scaleX(0.5);
      color: #FA4128;
      font-size: 1.5rem;
      position: relative;
      top: -2px;
      margin-right: 0.5rem;
    }
  }
}