.footer {
  background-color: #EFF2F4;

  &__container {
    padding: {
      top: 50px;
      bottom: 25px;
    }
  }

  &__logo {
    margin-bottom: 25px;
    display: block;

    img {
      width: 100%;
    }
  }

  &__request, &__contact {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
  }
  
  &__request {
    font: 500 1.5rem/1.4 "Quicksand", sans-serif;
    background-color: #FA4128;
    margin-bottom: 15px;
  }

  &__contact {
    font: normal 1.5rem/1.4 "Oswald", sans-serif;
    background-color: #0C3145;
  }

  &__separator {
    margin: 0;
    background-color: #B8C6D1;
    border: none;
    height: 2px;
  }

  &__copyright {

    padding: {
      top: 15px;
      bottom: 20px;
    }

    &-text {
      font: normal 1.4rem/1.4 "Oswald", sans-serif;
      color: #203D51;
      margin: 0;
    }
  }
}

.submenu {

  &__overline {
    background-color: #B8C6D1;
    border: none;
    height: 2px;
    margin: 0;
  }

  &__reference-container {
    display: flex;
    flex-direction: column;
    padding:15px;
  }

  &__title {
    font: normal 1.6rem/1.4 "Oswald", sans-serif;
    color: #FA4128;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__reference {
    font: 500 1.5rem/1.3 "Quicksand", sans-serif;
    color: #203D51;
    margin-bottom: 10px;
  }
}