.news {
  background-color: #072433;

  &__container {
    padding: {
      top: 50px;
      bottom: 50px;
    }
  }

  &__title {
    font: normal 3rem/1.4 "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    color: #fff;
  }

  &__underline {
    border: none;
    background-color: #FA4128;
    height: 4px;
    width: 9%;
    margin: 8px auto 40px;
  }

  &__all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    margin: {
      top: 40px;
      left: auto;
      right: auto;
    }
    padding-top: 3px;
    border: 1px solid #fff;
    font: normal 1.4rem/1.4 "Quicksand", sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      transform: scaleY(0);
      transform-origin: 50% 0;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: #072433;
      span {
        z-index: 1;
      }
    }

    &:hover:after {
      transform: scaleY(1);
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.news-item {
  &__img {
    font-size: 0;

    img {
      width: 100%;
    }
  }

  &__body {
    background-color: #fff;
    height: 180px;
    padding: 15px;
    position: relative;

    @include media(1200px) {
      height: 200px;
    }
  }

  &__category {
    font: normal 1.5rem/1 "Oswald", sans-serif;
    margin: 0;
    text-transform: uppercase;

    &_news {
      color: #FA4128
    }

    &_press-release {
      color: #203D51;
    }
  }

  &__date {
    color: #718EA5;
    font: 500 1.4rem/1.4 "Quicksand", sans-serif;
    margin: 0.8rem 0;
  }

  &__text {
    font: normal 1.7rem/1.4 "Quicksand", sans-serif;
    color: #203D51;
    margin: 0.9rem 0;
  }

  &__more {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #456A89;
    font: 500 1.4rem/1.4 "Quicksand", sans-serif;
    text-transform: uppercase;

    &::after {
      content: '\25ba';
      display: inline-block;
      transform: scaleX(0.7);
      color: #456A89;
      font-size: 1.2rem;
      position: relative;
      margin-left: 0.8rem;
      top: -2px;
      transition: 0.08s;
    }

    &:hover:after {
      margin-left: 1.3rem;
    }

    &:active {
      opacity: 0.7;
    }
  }
}