.preview {
  background: url('../img/backgrounds/index-banner.png') no-repeat 50% 50%;
  background-size: cover;
  min-height: 500px;

  &__container {
    height: 100%;
    padding-top: 60px;
  }

  &__text {
    font: 500 3rem/1.7 "Oswald", sans-serif;
    text-transform: uppercase;
    color: #718EA5;
    margin: 1rem 0;
  }

  &__title {
    font: 500 9rem/1 "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 0;
    color: #0C3145;
  }

  &__title-bracket {
    font-size: 10rem;
    position: relative;
    top: -0.6rem;
  }
}